/* styling för hjärtan*/

/*styling på endast hjärtat i menyn*/
.heart {  
  position: relative;
  padding-left: 10px;
}

/*styling för icons på plagg*/ 
.heart-icon {       
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 40px;
  color: white; /* färgen på oifyllt hjärta (grått) */
  cursor: pointer;
}

.heart-icon.liked {
  color: red;  /* fyllt hjärtat*/
}
