/* styling för hjärtan*/

/*styling på endast hjärtat i menyn*/
.heart {  
  position: relative;
  padding-left: 10px;
}

.heart h2{
  font-size: 25pt;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  left: 75%;
  top: 15%;
  transform: translate(-50%, -50%);
  width: 200px;
  background-color: white;
  border: 2px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 10;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #555;
}

.close:hover {
  color: red;
}


/*styling för hjärtan på plagg*/ 
.heart-icon {       
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 40px;
  color: white; /* färgen på oifyllt hjärta (grått) */
  cursor: pointer;
}

.heart-icon:hover{
  color: red;
}

.heart-icon.liked {
  color: red;  /* fyllt hjärtat*/
}


/*varukorg*/
.add-to-cart-btn {
  position: absolute;
  bottom: 4px; /* placera knappen 10px från botten av .text_kort */
  right: 10px; /* placera knappen 10px från högerkanten */
  font-size: 18pt; /* justera storleken på texten för att passa */
  cursor: pointer;
  color: white;
  transition: background-color 0.3s; /* smooth transition vid hover */
}

.add-to-cart-btn:hover {
  color: rgba(192, 207, 202, 0.703);
}

.popup {
  position: fixed;
  left: 78%;
  top: 15%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 200px; /* Justera bredd efter behov */
  max-width: 50%;
  z-index: 1000;
}

.popup-close-btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 24px;
  color: black;
  cursor: pointer;
  transition: color 0.3s ease;
}

.popup-close-btn:hover {
  color: red; /* Gör krysset rött vid hover */
}