/* styling för hjärtan*/

  /*styling på endast hjärtat i menyn*/
.heart {
  padding-left: 10px;
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  font-size: 25pt;
  cursor: pointer;
  color: white;
  padding: 5px;
}

  /*styling för hjärtan på plagg*/
.heart-icon {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 40px;
  color: white; 
  cursor: pointer;
}

.heart-icon:hover {
  color: red;
}

.heart-icon.liked {
  color: red; /* fyllt hjärtat*/
}


/*styling för varukorg*/
.add-to-cart-btn {
  position: absolute;
  bottom: 4px; /* placera +knappen 10px från botten*/
  right: 10px; /* placera +knappen 10px från högerkanten*/
  font-size: 18pt;/* justera storleken på texten för att passa */
  cursor: pointer;
  color: white;
  transition: background-color 0.3s; /* smooth transition vid hover */
}

.add-to-cart-btn:hover {
  color: rgba(192, 207, 202, 0.703);
}


/* styling för popup-fönster i hjärta (gillade produkter) och varukorg*/ 
.popup {
  display: none;
  position: fixed;
  left: 75%;
  top: 4rem;
  transform: translateX(-50%);
  width: 200px;
  background-color: white;
  border: 2px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 10;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #555;
}

.close:hover {
  color: red;
}


/*icon styling tablet*/ 
@media (min-width: 768px){
  .popup {
    left: 85%; 
  }
}


/*icon styling desktop*/ 
@media (min-width: 924px){
  .popup {
    left: 88%;
    top: 3rem;
    width: 300px; /*större popup rutor för desktop*/ 
  } 
}