
/* mobile first */ 
 body 
 {
    background-color: rgba(192, 207, 202, 0.703);
 }

 img { 
    display: block;
    width: 100%; /* Fyller förälderelementet */
    height: auto; /* Bevarar proportionerna */ 
    object-fit: cover; /* Klipper och fyller utan att ändra proportioner */
}


header {
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: rgba(2, 60, 48, 0.791); 
    display:flex;
    align-items: center; /* Centrera vertikalt */
    justify-content: space-between; /* Sprider ut elementen */
}


.namn_container {
    display: flex;
}

.namn {
    color: rgba(202, 229, 223, 0.791); 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large; 
    justify-content: center;
    align-items: center;

}



#hamburger 
{
margin: 10px;
width: 100%;
}

/* Styling för sökfältet */
input[type="text"] {
    float: right;
    padding: 4px;
    border: none;
    font-size: 12pt;
    border-radius: 30px; /* rundar hörnen */
    background-color: #fff; /* bakgrundsfärg */
    height: 50%;
}

#ikoner
{
margin-left: auto; /* Skjuter varukorgen längst till höger */
}

.heart
{
right: 0;
}


.cart {
    margin-top: 10px;
    margin-right: 10px;
    width: 25px;
}

#menu 
{
position: absolute;
}

#menu.active ul {
    display: block; /* döljer menny-text*/ 
    position: absolute;
  
}

#menu ul{
    display: none;  
    background: #444;
    width: 80px;
    list-style: none; 
}

#menu li 
{
padding: 5px;
}

#menu li a
{
color: #ffff;
left: 0;
}




.hero
{
margin-top: 30px;
margin-bottom: 30px;

}

main
{
background-color: rgba(192, 207, 202, 0.703);
}


.container
{ 
    display: flex;
    flex-wrap: wrap;
    background-color: #ffff;
    gap: 20px;
    text-align: center;
    justify-content: center;

}

.card
{
display: flex;
flex-direction: column; 
width:40%; 
height: auto;
flex-grow: 1;
margin: 10px;
}

.text_kort
{
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(72, 127, 104);
margin-bottom: 0;
margin-top: auto;
height: 30px;
}


footer {
    bottom: 0; 
    width: 100%;
    padding: 20px;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    gap: 8px; 
}



