
/* mobile first */ 
 body 
 {
    background-color: rgba(192, 207, 202, 0.703);
 }

 img { 
    display: block;
    width: 100%; /* Fyller förälderelementet */
    height: auto; /* Bevarar proportionerna */ 
    object-fit: cover; /* Klipper och fyller utan att ändra proportioner */
}

.namn {
    color: rgba(202, 229, 223, 0.791); 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large; 
}

.namn_container {
    display: flex;
    flex: 2; /* Gör att den växer */
    justify-content: center; /* Centrerar horisontellt */
    align-self: center;
}


header {
    background-color: rgba(2, 60, 48, 0.791); 
    display:flex;
    align-items: center; /* Centrera vertikalt */
    justify-content: space-between; /* Sprider ut elementen */
}

#hamburger 
{
margin: 10px;
}


.cart {
    margin-left: auto; /* Skjuter varukorgen längst till höger */
    margin-top: 10px;
    margin-right: 10px;
    width: 25px;
}



.hero
{
margin-top: 30px;
margin-bottom: 30px;

}

main
{
background-color: rgba(192, 207, 202, 0.703);
}


.container
{ 
    display: flex;
    flex-wrap: wrap;
    background-color: #ffff;
    gap: 20px;
    text-align: center;
    justify-content: center;

}

.card
{
display: flex;
flex-direction: column; 
width:40%; 
height: auto;
flex-grow: 1;
margin: 10px;
}

.text_kort
{
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(72, 127, 104);
margin-bottom: 0;
margin-top: auto;
height: 30px;
}


.footer{
    border: 1px solid black;
    margin-top: 30px;
    height: 100px;
}



